# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/__apps/node_modules
/__apps/.pnp
/__apps/.pnp.js
/__apps/.yarn/install-state.gz

# testing
/__apps/coverage

# next.js
/__apps/.next/
/__apps/out/

# production
/__apps/build

# misc
.DS_Store
*.pem

# debug
/__apps/npm-debug.log*
/__apps/yarn-debug.log*
/__apps/yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
