* {
    scroll-behavior: smooth;

}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 123, 255, 1);
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

/* a.nav {
    cursor: pointer;
} */

.custom-icon {
    fill: #ffffff;
}

svg.icon-sosmed {
    fill: #444;
}

.container-about,
.container-service,
.container-portfolio {
    margin-bottom: 80px;
}

.card-title h5 {
    font-size: 25px;
}

.card-title p {
    color: rgba(255, 255, 255, 0.6);
}


.project-card a,
a:hover {
    text-decoration: none;
}

.project-card .card:hover {
    transform: scale(1.05);
    transition: transform 0.4s linear;
}

.nav-item a.nav-link.activeNav {
    color: black;
    position: relative;
    border-bottom: 3px solid blue;
}

.nav-link:hover::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: blue;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}


.skills-items {
    text-align: justify;
}

.about-text {
    text-align: justify
}

.btn-skill .icon-skill {
    fill: #007BFF;
}

.btn-skill:hover .icon-skill {
    fill: #ffffff;
}

/* .service-item {} */

/* Kalo di kecilin */
@media(max-width:768px) {
    #homerow {
        padding-top: 25px;
    }

    .home-img {
        margin-top: 20px;
    }

    #icon-link {
        justify-content: center;
    }

    .project-card .card:hover {
        transform: scale(1.01);
        transition: transform 0.4s linear;
    }

    .pass-completed,
    .social-links {
        display: flex;
        justify-content: center;
    }

    .container-about,
    .container-service,
    .container-portfolio {
        margin-bottom: 0px;
    }

    .service-item {
        margin-bottom: 40px;
    }

    .card-title h5 {
        font-size: 16px;
    }

    .card-title p {
        font-size: 10px;
    }


}

@media(max-width:1024px) {
    .project-card .card:hover {
        transform: scale(1.02);
        transition: transform 0.4s linear;
    }
}